/*
Reacon API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package reacon

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ProductToolsAPI interface {

	/*
	ExecuteProductTool Execute a product tool

	Execute one of the listed tools using a team API key. Choose the input schema associated with the tool path parameter; the input union alone cannot express that relationship. Read tools return executionId=null and replay=false. Write tools require input.idempotencyKey (16–200 characters), scoped to the team across tools. Reusing a key with the same tool and validated input returns the committed output with replay=true while retained; different input or an unfinished execution returns HTTP 409. The SDK does not automatically retry this dispatcher. Tool scopes describe the shared integration/MCP catalog; this HTTP endpoint uses team API-key authentication and team-access checks. Missing database resources can currently surface as HTTP 500. See each tool for output and pagination semantics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tool
	@return ApiExecuteProductToolRequest
	*/
	ExecuteProductTool(ctx context.Context, tool string) ApiExecuteProductToolRequest

	// ExecuteProductToolExecute executes the request
	//  @return ProductToolExecution
	ExecuteProductToolExecute(r ApiExecuteProductToolRequest) (*ProductToolExecution, *http.Response, error)
}

// ProductToolsAPIService ProductToolsAPI service
type ProductToolsAPIService service

type ApiExecuteProductToolRequest struct {
	ctx context.Context
	ApiService ProductToolsAPI
	tool string
	productToolRequest *ProductToolRequest
}

func (r ApiExecuteProductToolRequest) ProductToolRequest(productToolRequest ProductToolRequest) ApiExecuteProductToolRequest {
	r.productToolRequest = &productToolRequest
	return r
}

func (r ApiExecuteProductToolRequest) Execute() (*ProductToolExecution, *http.Response, error) {
	return r.ApiService.ExecuteProductToolExecute(r)
}

/*
ExecuteProductTool Execute a product tool

Execute one of the listed tools using a team API key. Choose the input schema associated with the tool path parameter; the input union alone cannot express that relationship. Read tools return executionId=null and replay=false. Write tools require input.idempotencyKey (16–200 characters), scoped to the team across tools. Reusing a key with the same tool and validated input returns the committed output with replay=true while retained; different input or an unfinished execution returns HTTP 409. The SDK does not automatically retry this dispatcher. Tool scopes describe the shared integration/MCP catalog; this HTTP endpoint uses team API-key authentication and team-access checks. Missing database resources can currently surface as HTTP 500. See each tool for output and pagination semantics.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tool
 @return ApiExecuteProductToolRequest
*/
func (a *ProductToolsAPIService) ExecuteProductTool(ctx context.Context, tool string) ApiExecuteProductToolRequest {
	return ApiExecuteProductToolRequest{
		ApiService: a,
		ctx: ctx,
		tool: tool,
	}
}

// Execute executes the request
//  @return ProductToolExecution
func (a *ProductToolsAPIService) ExecuteProductToolExecute(r ApiExecuteProductToolRequest) (*ProductToolExecution, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductToolExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductToolsAPIService.ExecuteProductTool")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/product/tools/{tool}"
	localVarPath = strings.Replace(localVarPath, "{"+"tool"+"}", url.PathEscape(parameterValueToString(r.tool, "tool")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productToolRequest == nil {
		return localVarReturnValue, nil, reportError("productToolRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productToolRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ApiError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
